
BODY {
    width: auto!important;
    margin: auto!important;
    font-family: serif;
    font-size: 10pt;
    background-color: #fff!important;
    color: #000!important;
}

DIV#perle, DIV.boutons, DIV#infohideparam, DIV#footer, FORM.formulaire, BUTTON, INPUT, LABEL {
    display: none;
}

H1 {
    text-align: center;
}

TABLE#resultat TR {
    page-break-inside: avoid;
}

DIV#footer_print {
    display: block;
    text-align: center;
    border-top: 1px dotted #222;
}