
BODY {
    font-size: 0.9em;
    width: 99%;
}

H1 {
    font-size: 140%;
}

H2 {
    font-size: 120%;
}

H3 {
    font-size: 100%;
}

TABLE.resultat {
    border: 1px solid #222;
    border-spacing: 5px;
}

TABLE.resultat TD {
    text-align: right;
    border: 1px dotted #222;
    padding: 5px;
}

HR.sep {
}

DIV.small, SPAN.small {
    font-size: 0.7em;
}

DIV.bigbw {
    font-size: 140%;
    font-weight: bold;
/*    background:black;*/
    color:red;
    text-align:left;
    padding: 5px;
}

DIV.avert {
    color:red;
    text-align:left;
    padding: 5px;    
}

IMG#img_avert {
    vertical-align: middle;
}

DIV#perle {
    background-color: black;
    background-image: url("barre_soroban.jpg");
    background-position: left 11px;
    background-repeat: repeat-x;
    width: 180px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 5px ridge #744C22;
}

IMG#bead {
    position: relative;
}

DIV.boutons_operations {
    margin-left: 5px;
}

.bouton {
    border: 2px none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ddd;
    background: -webkit-linear-gradient( #fff, #eee);
    background:    -moz-linear-gradient( #fff, #eee);
    background:     -ms-linear-gradient( #fff, #eee);
    background:      -o-linear-gradient( #fff, #eee);
    background:         linear-gradient( #fff, #eee);
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 3px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

input#answersyn {
    vertical-align: middle;
}

P.reponse, P.noreponse {
    outline: 0px none;
    border-top: 1px solid #222;
    margin: 0px;
    margin-top: 2px;
    padding-top: 2px;
}

SPAN.big {
    font-weight: bold;
    font-size: 140%;
}

DIV#footer {
    text-align: left;
    border-top: 1px dotted #222;
    margin-top: 5px;
    padding-top: 5px;
}

DIV#footer a IMG  {
    vertical-align: middle;
}

DIV#footer_print {
    display: none;
}