
<!--    <div class="param" id="addsub"> -->
        <form class="formulaire" name="addsous" action="">
            <p><select name="mindigit" id="mindigit">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected="selected">3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
            </select> <label for="mindigit"><span class="t_Min_number_of_digits">Min. number of digits</span></label></p>
            <p><select name="maxdigit" id="maxdigit">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4 selected="selected">4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
            </select> <label for="maxdigit"><span class="t_Max_number_of_digits">Max. number of digits</span></label></p>
            <p><select name="numnumb" id="numnumb">
                <option value=2 selected="selected">2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
            </select> <label for="numnumb"><span class="t_Number_of_numbers">Number of numbers</span></label></p>
            <p><select name="numprob" id="numprobaddsub">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected="selected">3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=30>30</option>
                <option value=50>50</option>
            </select> <label for="numprobaddsub"><span class="t_Number_of_problems">Number of problems</span></label></p>

<!--    </div> -->
