
<!--    <div class="param" id="muldiv"> -->
        <form class="formulaire" name="muldiv" action="">
            <p><select name="mulandquot" id="mulandquot">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4 selected="selected">4</option>
                <option value=5>5</option>
            </select> <label for="mulandquot"><span id="mulandquotstr"></span> : <span class="t_Number_of_digits">number of digits</span></label></p>
            <p><select name="mulordivor" id="mulordivor">
                <option value=1>1</option>
                <option value=2 selected="selected">2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select> <label for="mulordivor"><span id="mulordivorstr"></span> : <span class="t_Number_of_digits">number of digits</span></label></p>
            <p><select name="numprob" id="numprobmuldiv">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected="selected">3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=30>30</option>
                <option value=50>50</option>
            </select> <label for="numprobmuldiv"><span class="t_Number_of_problems">Number of problems</span></label></p>
        </form>
<!--    </div> -->

